<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:https="http://schemas.android.com/apk/distribution"
    package="gongcha_health.com">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher">

    <activity android:name=".Detail_Absanimation"></activity>
    <activity android:name=".Detail_Absvideo" />
    <activity android:name=".after_training_abs" />
    <activity
        android:name=".training_abs"
        android:parentActivityName=".MainActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".Detail_batsalanimation"
        android:parentActivityName=".after_traning_Batsal" />
    <activity
        android:name=".Detail_batsalvideo"
        android:parentActivityName=".after_traning_Batsal" />
    <activity
        android:name=".after_traning_Batsal"
        android:theme="@style/Theme.Design.NoActionBar" />
    <activity
        android:name=".Training_batsal"
        android:parentActivityName=".MainActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Design.NoActionBar">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".LoadingActivity"/>
    <activity android:name=".running_beginner"/>
    <activity android:name=".running_timer"/>
    android:theme="@style/Theme.Design.NoActionBar" />
</application>

    </manifest>